# Virtual Environment
.venv/
.venv
venv/
env/
myenv/
myenv/*

# Environment variables
.env

# Python cache
__pycache__/
*.pyc
*.pyo

# Backup files
requirements_backup.txt

# IDE & Editor
.vscode/
.idea/

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Database files
./chroma_db