# Virtual Environment
.venv/
.venv
venv/
env/
.env/
.env
myenv
myenv/*

# Python cache
__pycache__/
*.pyc

# Other common folders
.vscode/
.DS_Store
./Lang_chain
.ipynb_checkpoints
.DS_Store   
./chroma_db 